
<style type="text/css">
.cropduster_thumbs {
	overflow: hidden;
    padding: 15px;
}
.cropduster_thumbs img {
	display: block;
	float: left;
    border:1px solid black;
    box-shadow: 0 0 3px 3px #888;
    max-width: 100%;
}

.cropduster_thumbs img.original {
    float:none;
    max-width: 100%;
    margin: 0;
}
.cropduster_thumbs a {
    float:left;
    display: block;
    width: auto;
    max-width:20%;
    margin-top:10px;
    margin-right: 15px;
    margin-bottom: 15px;
}
</style>

<script type="text/javascript">
if(window.cropduster_pop === undefined) {
    (function($) {
        // Attr selector wrapper because it's annoying to have to type 
        function s_attr(attr, value) {
            return "[" + attr + '="' + value + '"]';
        }

        function get_cd_by_field(attr_id) {
            var orig_image = $('div' + s_attr('data-attr_id', attr_id) + ' img.original');
            return orig_image.length == 0 ? null : orig_image.attr('data-image_id');
        }

        window.cropduster_pop = function(id, size_set, image_id, image_hash){

            var href = '{{ cropduster_url }}?pop=1&size_set=' + size_set 
                        + '&image_element_id=' + id
                        + '&image_hash=' + image_hash;
            if ($("#cropduster_input_" + id + " input").val() != ''){
                image_id = $("#cropduster_input_" + id + " input").val();
            }
            
            if (image_id !== undefined){
                href += '&image_id=' + image_id;
            }

            var win=window.open(href, id, 'height=650, width=960, resizable=yes, scrollbars=yes');

            return false;
        }

        function add_img(container, src) {
            var src = '<a target="_blank" href="' + src 
                       + '"><img src="' + src + '" /></a>';
            container.append(src);
        }

        // Change the size set for a given cropduster image.
        window.set_cd_size_set = function(field_name, slug, nay_jax) {
            nay_jax = !!nay_jax;

            // Find the element storing all the useful cropduster data.
            var attr = s_attr('data-attr_id', field_name);
            var $cd_anchor = $('a' + attr);
            var current = $cd_anchor.attr('data-size_set');

            // If nothing has changed, nothing to do.  Otherwise update it.
            if(current === slug) return;

            $cd_anchor.attr('data-size_set', slug);

            // Do we have any derived images yet?  If so, delete all of
            // em.
            var $manual = $('div' + attr + ' div.manual_images');
            var $thumbs_cont = $manual.find('div.thumbs');
            $manual.fadeOut(500, function() {
                $thumbs_cont.children('a').remove();

                // If nay_jax is set to true, cropduster won't try to
                // auto load manual images for the given size.  Otherwise,
                // go for it.
                if(nay_jax) return;

                // Grab the derived images and add them to the appropriate place.
                $.getJSON("{{cropduster_derived}}", {id: get_cd_by_field(field_name),
                                                     slug: slug},
                    function(data) {
                        if(data.length > 0) {
                            $manual.fadeIn();
                        }
                        for(var i = 0; i < data.length; i++) {
                            add_img($thumbs_cont, data[i].src);
                        }
                    });

            });

        }
        window.toggle_delete = function(obj){
            var container = $(obj).parent().parent().parent().parent();
            
            $(container).toggleClass("predelete");
            
            // Swap the title and the value fields, that way the values can 
            // be swapped back if deletion is canceled
            var tempValue = $(container).find("input.cropduster").val();
            var tempTitle = $(container).find("input.cropduster").attr("title");

            $(container).find("input.cropduster")
                        .val(tempTitle)
                        .attr('title', tempValue);

            return false;
        };
        window.show_cropduster = function(e) {
            var attr_id = $(this).attr('data-attr_id');
            var size_set = $(this).attr('data-size_set');

            // Check to see if we have a root image
            var orig_image_id = get_cd_by_field(attr_id);
            var image_hash = $(this).attr('data-image_hash');

            // Show the popup
            cropduster_pop(attr_id, size_set, orig_image_id, image_hash);
            return false;
        };
    })((typeof window.django == 'object') ? django.jQuery : jQuery);
}
</script>

<div class="tools">
	<a href="javascript://" onclick="toggle_delete(this);" class="icon delete-handler" title="Remove"></a>

</div>

<p><a data-image_hash="{{image_hash}}" data-attr_id="{{ attrs["id"]}}" data-size_set="{{size_set.slug}}" href="#" onclick="show_cropduster.call(this)" class="cd_show"><img src="{{ media_url }}/img/cropduster_icon_upload_select.png" alt=""></a></p>

	<div data-attr_id="{{ attrs["id"] }}" class="cropduster_thumbs">
        <div class="original_image" {% if not image %}style="display:none"{% endif %} >
            <h4>Original Image</h4>
            <hr />
            <a title="Original image" alt="Original Image" href="{{image|safe}}" target="_blank">
                <img data-image_id="{{image.id}}" class="original" src="{% if image %}{{ image|safe }}{% endif %}"/>
            </a>

        </div>

        <div style="clear:both;height:10px;"></div>
        
        {% if image %}
            {% set manual = image.derived.filter(size__size_set=size_set, size__auto_crop=False) %}
        {% endif %}

        <div class="manual_images" {% if not image or manual|length == 0 %}style="display:none"{% endif %}>
            <h4>Manually Cropped</h4>
            <hr />
            <div class="thumbs">
            {% if image %}
                {% for image in manual %}
                    <a target="_blank" href="{{image|safe}}"><img src="{{ image|safe }}" /></a>
                {% endfor %}
            {% endif %}
            </div>
            <div style="clear:both;height:10px;"></div>
        </div>
	</div>
<div id="cropduster_input_{{ attrs["id"] }}">
{{ input|safe }}

</div>
