include AUTHORS
include LICENSE
include README.rst
include CHANGELOG.txt
recursive-include cropduster/templates *
recursive-include cropduster/media *
recursive-include docs *
recursive-exclude * *.pyc